.message-list-container {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 16px;
}
.message-list-container::-webkit-scrollbar-track {
    background-color: #eee;
}

.message-input-form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
    background-color: #fff;
    padding: 16px;
    border-top: 1px solid #ccc;
}

.send-button {
    position: relative;
    cursor: pointer;
    aspect-ratio: 1;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #88d888;
}
.send-button:hover .send-icon-container {
    filter: opacity(0.7);
    transition: filter 0.2s ease-in-out;
}
.send-button:hover {
    border-color: #888;
}

.send-icon-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    place-items: center;
    padding: 12px;
    opacity: 0.8;
}
.send-button:disabled .send-icon-container {
    filter: opacity(0);
    transition: none;
}
.send-button:disabled::after {
    content: '';
    position: absolute;
    background-color: #fff;
    height: 16px;
    aspect-ratio: 1;
    border-radius: 4px;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
}
.send-icon {
    max-height: 100%;
    max-width: 100%;
    filter: invert();
}

.message-input-form > input[type="text"] {
    border: 0.5px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    color: #333;
}
.message-input-form > input[type="text"]::placeholder {
    color: #aaa;
}

.message-input-form > input:focus {
    outline: none;
    border-color: #888;
}

.chat-box {
    border: 1px solid #ccc;
    border-radius: 12px;
    width: 700px;
    height: 400px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr auto;
    position: relative;
    background-color: #fafafa;
}

.chat-summary-container {
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 16px;
}

.status-bar {
    position: absolute;
    bottom: 66px;
    left: 0;
    right: 0;
    display: grid;
    grid-auto-flow: row;
    gap: 1px;
    border: 1px solid #ccc;
    border-width: 1px 0;
    background: #ccc;
    z-index: 10;
}
.status-message {
    padding: 16px;
    font-size: 14px;
    font-style: italic;
    background: #fff;
}

.error-message {
    display: grid;
    grid-template-columns: 1fr auto;
}
.error-message > p {
    align-self: center;
    color: rgb(205, 159, 159);
}

.try-again-button {
    height: 100%;
    padding: 4px 12px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fef0f0;
    cursor: pointer;
    height: 36px;
}

.try-again-button:hover {
    background-color: #f8f0f0;
    transition: background-color 0.2s ease-in-out;
}