.content {
    display: flex;
    justify-content: center;
    justify-items: center;
    max-width: 100%;
    overflow: hidden;
    padding: 0 15px;
}

.content * {
    flex: 1;
    max-width: min(700px, 100%);
}

.title-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #555;
    margin: 25px 0 15px 0;
}

.title-container h1 {
    color: #88d888;
    margin-bottom: 15px;
}

.title-container p {
    font-size: 12px;
    line-height: 1.4;
}