.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    
}

.title-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #88d888;
}