.message {
    word-wrap: break-word;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 16px;
    max-width: 100%;
    overflow: hidden;
}
.message--user {
    background-color: #daf1da;
    width: fit-content;
    justify-self: end;
    border-radius: 12px 12px 0 12px;
    padding-left: 14px;
    min-width: 100px;
    text-wrap: wrap;
}
.message--ai {
    background-color: #f1daf1;
    border-radius: 12px 12px 12px 0;
    max-width: 100%;
    width: fit-content;
}
